.main-head{
  .bgDarken{
    background-color: $bgColorPrimaryDark;
  }

  .icon-call {
    background: url(../img/sprite.png) 0px -527px;
    width: 36px;
    height: 34px;
    display: inline-block;
    vertical-align: middle;
    margin: 5px 0;
  }
  .icon-toll {
    background: url(../img/sprite.png) 0px 0px;
    width: 35px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin: 5px 0;
  }
  span{
    @include font(18px, white, 400, $font-regular);
    line-height: 1;
    vertical-align: middle;
    margin-left: 10px;
  }
  a{
    @include font(22px, white, 400, $font-regular);
    line-height: 1;
    vertical-align: middle;
  }
}
