$screenColor: test;
//body > main > section > div > div > div > div.col-md-4.HiW-block-center > div.HiW-text
.h-i-w{
    @if $screenColor == standart{
      background-color: $bgColorPrimaryLight;
  }
  @else if $screenColor == day{
    background-color: #e84c3d;
  }
  @else if $screenColor == night{
    background-color: #3d3d3d;
  }
  @else {
    background-color: #003300;
  }
  margin-bottom: 40px;
  h2{
    @include font(36px, #fff, 400, $font-regular);
    text-align: center;
    margin: 60px 0 60px 0;

    @include notebook{
      @include font(60px, #acbbca, 400, $font-regular);
      background-color: red;
      font-size: convertToEm(36px);
    }
    @include tablet{
      @include font(18px, #ccc, 700, $font-regular);
    }
  }
  .HiW-block{
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 1px solid #cccccc;
    background-color: #e84c3d;
    text-align: center;
    &:before{
      content: '';
      display: inline-block;
      width: 14px;
      height: 14px;
      border: 1px solid #333333;
      background-color: #14a85c;
      border-radius: 50%;
      position: relative;
      top: 13px;
      left: 2px;
    }
    &:after{
      content: '';
      display: inline-block;
      width: 2px;
      height: 63px;
      background-color: $itemColor1;
      margin-top: 68px;
      position: relative;
      right: 6px;
    }
  }
  .HiW-text{
    @include font(16px, $bgColorFooter - #111, 400, $font-regular);
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    margin-left: 10px;
    span{
      @include font(14px, white, 700, $font-bold);
      display: inline-block;
      &:hover{
        color:red;
        cursor: pointer;
      }
    }
  }

  .border-bottom{
    border-bottom: 1px dashed $itemColor1;
  }
  .HiW-block-center{
    text-align: center;
  }
  .HiW-block-right{
    text-align: right;
    .round-green{
      margin: -6px 184px -7px;
    }
  }
}