$bgColorPrimaryDark: #14a85c;
$bgColorPrimaryLight: #86ea8f;

$secondaryColor: #e84c3d;

$textHeaderPrimary: #003300;
$textPrimary: #777777;
$textSecondary: #fff;

$bgColorFooter: #4e4e4e;
$itemColor1: #666666;
